## mako

<%page args="active_page=None, title=None" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>

<%!
    from courseware.tabs import get_course_tab_list
    from django.conf import settings
    from django.core.urlresolvers import reverse
    from django.utils.translation import ugettext as _
    from courseware.courses import get_course_about_section
%>

<%
    if active_page is None and active_page_context is not UNDEFINED:
    # If active_page is not passed in as an argument, it may be in the context as active_page_context
        active_page = active_page_context
    if title is None:
        title = ""
    if course is not None:
        include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>

% if include_special_exams is not UNDEFINED and include_special_exams:
    <%static:js group='proctoring'/>
    % for template_name in ["proctored-exam-status"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="courseware/${template_name}.underscore" />
        </script>
    % endfor
    <div class="proctored_exam_status"></div>
% endif

% if disable_tabs is UNDEFINED or not disable_tabs:
    <%
        tab_list = get_course_tab_list(request, course)
    %>
    <header class="bg-light">
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-2 text-center">${title}</h2>
                <%include file="/courseware/course_navigation_template.html" args="active_page=active_page" />
            </div>
        </div>
    </header>
%endif
